
<div class="banner" style="background-image: url('<%= image_path "banner.jpg"%>')">
  <div>
    <h1>CookBook</h1>
    <h3>Save your favourite recipes</h3>
  </div>
</div>

<div class="container w-75">
  <div class="info-top">
    <h1>List of Categories</h1>
    <%= link_to new_category_path, class: "btn btn-gradient" do %>
      <p>New Category</p>
    <% end %>
  </div>


  <div class ="cards">
    <% @categories.each do |category| %>
      <%= link_to category_path(category)  do%>
      <div class="card-category" style="background-image: url('<%= cl_image_path category.photo.key, crop: :fill %>')">
        <h3> <%= category.name %> </h3>
        <p> <%= category.recipes.count %> recipes </p>
      </div>
    <% end %>
    <% end %>
  </div>
</div>
