<h1>This is your <%= @category.name  %> category </h1>

<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <% @category.bookmarks.each do |bookmark| %>
      <div class="card">
        <img src="<%= bookmark.recipe.image_url %>" class="card-img-bottom" alt="<%= bookmark.recipe.name %> image">
          <div class="card-body">
            <h5 class="card-title"><%= bookmark.recipe.name %></h5>
            <h5> Rating<%= bookmark.recipe.rating %></h5>
            <p class="card-text"><%= bookmark.recipe.description %></p>
            <p>Bookmark comment: <%= bookmark.comment %> </p>
            <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete} %>
          </div>
      </div>
    <% end %>
  </div>
</div>


<%= link_to "Add Recipe", new_category_bookmark_path(@category.id)%> </h2>
<%= link_to "Back to Categories", categories_path %>
